<div class="alert callout" data-closable>
  <h5>LET OP:</h5>
  <p>
    Voor de standaard maat van 12 modulen dient u de pagina in landscape af te drukken.
  </p>
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<h1>Nieuwe Pagina</h1>

<%= render 'form', page: @page %>

<%= link_to 'Terug', pages_path %>
