<% breadcrumb :item, @item %>



<p>
  <strong>Nummer:</strong>
  <%= @item.number %>
</p>
<p>
  <strong>Naam:</strong>
  <%= @item.title %>
</p>

<%= link_to 'Edit', edit_page_line_item_path(@item.page,@item.line,@item) %> |
<%= link_to 'Back', page_line_items_path %>
